@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700&display=swap);
@font-face {
  font-family: swiper-icons;
  src: url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA');
  font-weight: 400;
  font-style: normal
}
:root {
  --swiper-theme-color: #007aff
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1
}
.swiper-vertical > .swiper-wrapper {
  flex-direction: column
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box
}
.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0,0,0)
}
.swiper-pointer-events {
  touch-action: pan-y
}
.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform
}
.swiper-slide-invisible-blank {
  visibility: hidden
}
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform,height
}
.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}
.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px
}
.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0,0,0,.15)
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))
}
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start
}
.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory
}
.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory
}
.swiper-centered > .swiper-wrapper::before {
  content: '';
  flex-shrink: 0;
  order: 9999
}
.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before)
}
.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after)
}
.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before)
}
.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after)
}
.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center
}
.swiper-virtual .swiper-slide {
  -webkit-backface-visibility: hidden;
  transform: translateZ(0)
}
.swiper-virtual.swiper-css-mode .swiper-wrapper::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none
}
.swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after {
  height: 1px;
  width: var(--swiper-virtual-size)
}
.swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after {
  width: 1px;
  height: var(--swiper-virtual-size)
}
:root {
  --swiper-navigation-size: 44px
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size)/ 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color,var(--swiper-theme-color))
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none!important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: 'prev'
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: 'next'
}
.swiper-button-lock {
  display: none
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0,0,0);
  z-index: 10
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%
}
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(.33);
  position: relative
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1)
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1)
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(.66)
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(.33)
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(.66)
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(.33)
}
.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,8px));
  height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px));
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color,#000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity,.2)
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer
}
.swiper-pagination-bullet:only-child {
  display: none!important
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity,1);
  background: var(--swiper-pagination-color,var(--swiper-theme-color))
}
.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0,-50%,0)
}
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap,6px) 0;
  display: block
}
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px
}
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: .2s transform,.2s top
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4px)
}
.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap
}
.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: .2s transform,.2s left
}
.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: .2s transform,.2s right
}
.swiper-pagination-progressbar {
  background: rgba(0,0,0,.25);
  position: absolute
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color,var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top
}
.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top
}
.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0
}
.swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-vertical > .swiper-pagination-progressbar {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0
}
.swiper-pagination-lock {
  display: none
}
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0,0,0,.1)
}
.swiper-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%
}
.swiper-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0,0,0,.5);
  border-radius: 10px;
  left: 0;
  top: 0
}
.swiper-scrollbar-cursor-drag {
  cursor: move
}
.swiper-scrollbar-lock {
  display: none
}
.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center
}
.swiper-zoom-container > canvas,
.swiper-zoom-container > img,
.swiper-zoom-container > svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain
}
.swiper-slide-zoomed {
  cursor: move
}
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color,var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent
}
.swiper-slide-visible .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear
}
.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff
}
.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000
}
@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg)
  }
}
.swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000
}
.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto
}
.swiper-grid > .swiper-wrapper {
  flex-wrap: wrap
}
.swiper-grid-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column
}
.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out
}
.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity
}
.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none
}
.swiper-fade .swiper-slide-active,
.swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto
}
.swiper-cube {
  overflow: visible
}
.swiper-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  transform-origin: 0 0;
  width: 100%;
  height: 100%
}
.swiper-cube .swiper-slide .swiper-slide {
  pointer-events: none
}
.swiper-cube.swiper-rtl .swiper-slide {
  transform-origin: 100% 0
}
.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto
}
.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-next,
.swiper-cube .swiper-slide-next + .swiper-slide,
.swiper-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible
}
.swiper-cube .swiper-slide-shadow-bottom,
.swiper-cube .swiper-slide-shadow-left,
.swiper-cube .swiper-slide-shadow-right,
.swiper-cube .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}
.swiper-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: .6;
  z-index: 0
}
.swiper-cube .swiper-cube-shadow:before {
  content: '';
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  filter: blur(50px)
}
.swiper-flip {
  overflow: visible
}
.swiper-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1
}
.swiper-flip .swiper-slide .swiper-slide {
  pointer-events: none
}
.swiper-flip .swiper-slide-active,
.swiper-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto
}
.swiper-flip .swiper-slide-shadow-bottom,
.swiper-flip .swiper-slide-shadow-left,
.swiper-flip .swiper-slide-shadow-right,
.swiper-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}
.swiper-creative .swiper-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  transition-property: transform,opacity,height
}
.swiper-cards {
  overflow: visible
}
.swiper-cards .swiper-slide {
  transform-origin: center bottom;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
main {
  display: block
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  outline: 0;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
details {
  display: block
}
summary {
  display: list-item
}
template {
  display: none
}
[hidden] {
  display: none
}
.svg-svg-mail,
.svg-svg-mob,
.svg-svg-next,
.svg-svg-prev,
.svg-svg-search,
.svg-svg-skype,
.svg-svg-tel {
  background: url(../images/sprites/main.svg) no-repeat
}
.svg-svg-mail {
  background-position: 55% 0;
  background-size: 322.2222222222% auto;
  width: 18px
}
.svg-svg-mail:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-mail-dims {
  width: 18px;
  height: 18px
}
.svg-svg-mob {
  background-position: 0 61.1111111111%;
  background-size: 322.2222222222% auto;
  width: 18px
}
.svg-svg-mob:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-mob-dims {
  width: 18px;
  height: 18px
}
.svg-svg-next {
  background-position: 45% 61.1111111111%;
  background-size: 322.2222222222% auto;
  width: 18px
}
.svg-svg-next:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-next-dims {
  width: 18px;
  height: 18px
}
.svg-svg-prev {
  background-position: 100% 0;
  background-size: 322.2222222222% auto;
  width: 18px
}
.svg-svg-prev:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-prev-dims {
  width: 18px;
  height: 18px
}
.svg-svg-search {
  background-position: 0 0;
  background-size: 263.6363636364% auto;
  width: 22px
}
.svg-svg-search:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-search-dims {
  width: 22px;
  height: 22px
}
.svg-svg-skype {
  background-position: 0 100%;
  background-size: 414.2857142857% auto;
  width: 14px
}
.svg-svg-skype:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-skype-dims {
  width: 14px;
  height: 14px
}
.svg-svg-tel {
  background-position: 100% 50%;
  background-size: 322.2222222222% auto;
  width: 18px
}
.svg-svg-tel:before {
  content: "";
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 100%
}
.svg-svg-tel-dims {
  width: 18px;
  height: 18px
}
.image-by-height {
  width: auto
}
.image-by-height:before {
  content: none
}
.image-by-height > svg {
  height: inherit
}
.image-by-height > img {
  height: inherit!important;
  vertical-align: top!important;
  margin: 0!important;
  padding: 0!important;
  max-width: none!important;
  max-height: none!important;
  border: 0!important;
  opacity: 0!important
}
html {
  box-sizing: border-box
}
*,
::after,
::before {
  box-sizing: border-box
}
.content-box-component {
  box-sizing: content-box
}
body {
  background: #fff;
  font-family: Roboto,sans-serif,Helvetica,Arial,sans-serif;
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #201d1d;
  font-size: 14px;
  line-height: 143%
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden
}
a {
  text-decoration: none;
  color: inherit
}
button {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: none;
  color: inherit
}
ul {
  margin: 0;
  padding: 0;
  list-style: none
}
p {
  margin: 0
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Roboto Condensed",sans-serif
}
img {
  display: inline-block;
  max-width: 100%;
  height: auto
}
svg {
  max-width: 100%;
  max-height: 100%
}
picture {
  display: block
}
.background-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden
}
.background-image picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}
.background-image picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}
.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto
}
.wrapper {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh
}
@media screen and (min-width:768px) {
  .container {
    max-width: 1920px;
    padding: 0 24px
  }
}
@media screen and (min-width:1440px) {
  .container {
    padding: 0 32px
  }
}
.btn {
  min-height: 44px;
  padding: 12px 24px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #ff3214;
  color: #fff;
  font-family: "Roboto Condensed",sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 140%
}
.main-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 112%;
  letter-spacing: -.02em;
  text-transform: uppercase;
  color: #fff;
  font-family: "Roboto Condensed",sans-serif
}
.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #201d1d;
  font-family: "Roboto Condensed",sans-serif
}
.sub-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Roboto Condensed",sans-serif
}
.sec {
  padding-top: 44px;
  padding-bottom: 44px
}
.swiper-btns {
  width: 72px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.swiper-button-next,
.swiper-button-prev {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #ff3214;
  position: static;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  border: 1px solid transparent
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none
}
.swiper-button-next svg,
.swiper-button-prev svg {
  width: 20px;
  height: 20px;
  fill: #fff
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  pointer-events: auto;
  background: 0 0;
  border: 1px solid #969595
}
.swiper-button-next.swiper-button-disabled svg,
.swiper-button-prev.swiper-button-disabled svg {
  fill: #969595
}
.swiper-pagination {
  bottom: 0
}
.swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #ccc;
  opacity: 1
}
.swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: #ff3214
}
@media screen and (min-width:768px) {
  .main-title {
    font-size: 54px
  }
  .btn {
    min-height: 52px;
    font-size: 13px;
    line-height: 154%;
    letter-spacing: .3px
  }
  .title {
    font-size: 30px;
    line-height: 133%
  }
  .sub-title {
    font-size: 20px;
    line-height: 160%
  }
  .sec {
    padding-top: 60px;
    padding-bottom: 60px
  }
  .swiper-btns {
    width: 88px
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px
  }
  .swiper-button-next svg,
  .swiper-button-prev svg {
    width: 22px;
    height: 22px
  }
}
@media screen and (min-width:1280px) {
  .main-title {
    font-size: 64px
  }
  .title {
    font-size: 32px
  }
}
@media screen and (min-width:1440px) {
  .sec {
    padding-top: 80px;
    padding-bottom: 80px
  }
  .main-title {
    font-size: 74px;
    line-height: 108%
  }
  .title {
    font-size: 36px;
    line-height: 122%
  }
}
.breadcrumbs {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 12px;
  line-height: 133%;
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,.1)
}
.breadcrumbs__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.breadcrumbs__item:not(:last-child) {
  padding-right: 12px;
  position: relative
}
.breadcrumbs__item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: url(../images/icons/arrow-right.svg) no-repeat center/contain
}
.breadcrumbs__item:last-child {
  color: rgba(255,255,255,.6)
}
@media screen and (min-width:768px) {
  .breadcrumbs {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 143%;
    max-width: 100%
  }
  .breadcrumbs__list {
    width: 100%;
    max-width: 1856px;
    margin: 0 auto
  }
  .breadcrumbs__item {
    margin-right: 4px
  }
  .breadcrumbs__item:not(:last-child) {
    padding-right: 20px
  }
  .breadcrumbs__item:not(:last-child)::after {
    width: 16px;
    height: 16px;
    right: 0
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  border-bottom: 1px solid #f3f3f3
}
.header__inner {
  min-height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.header__burger {
  margin-right: 12px
}
.header__logo {
  margin-right: auto
}
.header__logo img {
  display: block;
  width: 100%
}
.header__form {
  margin-right: 12px
}
.header__form-field {
  width: 100%;
  padding: 10px 12px;
  display: none;
  background: #f3f3f3;
  border: none;
  font-size: 14px;
  line-height: 143%;
  color: #201d1d
}
.header__form-btn svg {
  fill: #201d1d
}
.header__btn {
  width: 20px;
  min-width: 20px;
  height: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.header__btn img {
  width: 100%
}
.header__apps {
  margin-right: 12px
}
.header__user {
  padding-top: 3px
}
.header__user-item {
  font-size: 11px;
  line-height: 182%;
  letter-spacing: .3px;
  text-transform: uppercase;
  font-family: "Roboto Condensed",sans-serif;
  font-weight: 700
}
.header__user-item + .header__user-item {
  margin-left: 12px
}
.header__nav {
  display: none;
  font-family: "Roboto Condensed",sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 154%;
  letter-spacing: .01em;
  text-transform: uppercase
}
.header__nav a:focus,
.header__nav a:hover {
  text-decoration: underline
}
@media screen and (min-width:768px) {
  .header__inner {
    min-height: 80px
  }
  .header__btn {
    width: 24px;
    height: 24px
  }
  .header__burger {
    margin-right: 24px
  }
  .header__logo {
    width: 168px
  }
  .header__form {
    margin-right: 24px
  }
  .header__apps {
    margin-right: 24px
  }
  .header__user-item {
    font-size: 13px
  }
}
@media screen and (min-width:1280px) {
  .header__burger {
    display: none
  }
  .header__nav {
    margin-right: 40px;
    display: block
  }
  .header__nav-list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .header__nav-list li {
    margin-right: 36px
  }
  .header__nav-list li:last-child {
    margin-right: 0
  }
  .header__form {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 453px;
    margin-left: 40px;
    margin-right: 40px;
    position: relative
  }
  .header__form-btn {
    position: absolute;
    right: 18px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
  }
  .header__form-btn svg {
    fill: #969595
  }
  .header__form-field {
    display: block;
    padding: 12px 20px;
    padding-right: 50px
  }
}
@media screen and (min-width:1440px) {
  .header__apps {
    margin-right: 60px
  }
  .header__nav {
    margin-right: 60px
  }
  .header__form {
    margin-left: 60px;
    margin-right: 60px
  }
}
@media screen and (min-width:1600px) {
  .header__form {
    max-width: 720px;
    margin-right: 156px
  }
}
.primary {
  min-height: 568px;
  position: relative;
  background: #767069;
  overflow: hidden
}
.primary__inner {
  position: relative;
  z-index: 5
}
.primary__info {
  max-width: 320px;
  margin: 0
}
.primary__title {
  margin-bottom: 20px
}
.primary__btn {
  width: 100%
}
@media screen and (min-width:768px) {
  .primary {
    min-height: 688px
  }
  .primary__info {
    padding-top: 88px;
    width: 100%;
    max-width: 768px;
    margin: 0 auto
  }
  .primary__title {
    margin-bottom: 40px
  }
  .primary__btn {
    width: auto
  }
}
@media screen and (min-width:1280px) {
  .primary {
    min-height: 600px
  }
}
@media screen and (min-width:1440px) {
  .primary__info {
    max-width: 897px;
    margin: 0;
    margin-left: 150px
  }
}
@media screen and (min-width:1900px) {
  .primary__inner {
    width: 100%;
    margin: 0 auto
  }
  .primary__info {
    padding-left: 245px;
    margin-left: calc((100% - 1920px)/ 2);
    width: 100%;
    max-width: 1104px
  }
}
.problem__item {
  padding-left: 32px;
  padding-right: 1px;
  position: relative
}
.problem__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background: url(../images/icons/problem.svg) no-repeat center/contain
}
.decision__item {
  padding-left: 30px;
  padding-top: 1px;
  position: relative
}
.decision__item::before {
  content: "";
  position: absolute;
  left: -3px;
  top: 0;
  width: 24px;
  height: 24px;
  background: url(../images/icons/check.svg) no-repeat center/contain
}
.about__title {
  margin-bottom: 24px
}
.about__sub-title {
  margin-bottom: 16px
}
.about__list {
  font-size: 14px;
  line-height: 143%
}
.about__item {
  margin-bottom: 18px
}
.about__item:last-child {
  margin-bottom: 0
}
@media screen and (min-width:768px) {
  .about__inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
  }
  .about__title {
    margin-bottom: 0
  }
  .about__info {
    width: 360px
  }
  .about__sub-title {
    margin-bottom: 18px
  }
  .about__item {
    margin-bottom: 19px
  }
}
@media screen and (min-width:1000px) {
  .about__info {
    width: 70%;
    max-width: 540px
  }
}
@media screen and (min-width:1440px) {
  .about {
    padding-bottom: 85px
  }
  .about__inner {
    max-width: 1292px;
    margin: 0
  }
  .about__sub-title {
    margin-bottom: 25px
  }
  .about__info {
    padding-right: 20px
  }
  .about__list {
    padding-right: 50px
  }
}
@media screen and (min-width:1600px) {
  .about__inner {
    max-width: 1534px
  }
}
@media screen and (min-width:1900px) {
  .about__inner {
    margin-left: calc((100% - 1920px)/ 2)
  }
}
.catalog {
  background: #232630;
  color: #fff
}
.catalog__title {
  margin-bottom: 24px;
  color: #fff
}
.catalog__info p {
  margin-bottom: 16px
}
.catalog__info p:last-child {
  margin-bottom: 0
}
@media screen and (min-width:768px) {
  .catalog__inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  .catalog__info {
    width: 100%;
    max-width: 360px
  }
}
@media screen and (min-width:1000px) {
  .catalog__info {
    width: 70%;
    max-width: 540px
  }
}
@media screen and (min-width:1440px) {
  .catalog {
    padding-top: 83px
  }
  .catalog__inner {
    margin: 0;
    max-width: 1292px
  }
}
@media screen and (min-width:1600px) {
  .catalog__inner {
    max-width: 1534px;
    margin-left: calc((100% - 1920px)/ 2)
  }
}
.features__header {
  background: #fbfbfb
}
.features__item {
  padding-top: 16px;
  padding-bottom: 18px;
  border-bottom: 1px solid #f3f3f3
}
.features__item:last-child {
  border-bottom: 0
}
.features__icon {
  margin-bottom: 11px
}
.features__text {
  font-family: "Roboto Condensed",sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase
}
@media screen and (min-width:768px) {
  .features__header {
    padding-bottom: 40px
  }
  .features__list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .features__item {
    width: 33.33%;
    padding-top: 24px;
    padding-right: 22px;
    border-right: 1px solid #f3f3f3
  }
  .features__item:nth-child(3n) {
    border: none
  }
  .features__icon {
    width: 32px;
    margin-bottom: 35px
  }
  .features__text {
    font-size: 18px;
    line-height: 156%
  }
}
@media screen and (min-width:1440px) {
  .features__header {
    padding-bottom: 50px
  }
  .features__item {
    padding-top: 36px;
    padding-bottom: 32px
  }
  .features__text {
    width: 100%;
    max-width: 400px;
    font-size: 20px;
    line-height: 160%;
    padding-right: 20px
  }
}
@media screen and (min-width:1900px) {
  .features__header {
    max-width: 100%;
    padding-left: calc((100% - 1856px)/ 2);
    padding-right: calc((100% - 1856px)/ 2)
  }
  .features__list {
    max-width: 1920px;
    margin: 0 auto
  }
}
.project {
  background: #232630;
  color: #fff
}
.project__header {
  margin-bottom: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.project__title {
  color: #fff
}
.project__slider {
  overflow: hidden;
  padding: 0 16px
}
.project__slide {
  width: auto;
  min-height: 57px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.project__slide--4,
.project__slide--5 {
  padding-bottom: 10px
}
.project__slide img {
  display: block
}
@media screen and (min-width:768px) {
  .project {
    padding-bottom: 106px
  }
  .project__header {
    margin-bottom: 50px
  }
  .project__slider {
    padding: 0 24px
  }
  .project__slide {
    min-height: 73px
  }
  .project__slide--4,
  .project__slide--5 {
    padding-bottom: 20px
  }
  .project__slide img {
    width: 100%
  }
}
@media screen and (min-width:1280px) {
  .project .swiper-btns {
    display: none
  }
  .project .swiper-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  .project__slide img {
    width: auto
  }
}
@media screen and (min-width:1440px) {
  .project {
    padding-bottom: 75px
  }
  .project__header {
    margin-bottom: 58px
  }
  .project__slider {
    padding: 0 32px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto
  }
}
.reviews {
  padding: 48px 0 18px;
  background: #fbfbfb
}
.reviews__header {
  margin-bottom: 31px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.reviews__title {
  font-size: 30px
}
.reviews__slider {
  padding: 0 16px;
  padding-bottom: 0;
  position: relative;
  overflow: hidden
}
.reviews__slide {
  padding-bottom: 34px
}
.reviews__img {
  width: 80px;
  min-height: 80px;
  margin-bottom: 12px;
  padding: 8px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #f3f3f3;
  background: #fff
}
.reviews__person {
  margin-bottom: 32px
}
.reviews__person-name {
  margin-bottom: 4px;
  font-weight: 500
}
.reviews__person-pro {
  color: #969595
}
.reviews__text p {
  margin-bottom: 12px
}
.reviews__text p:last-child {
  margin-bottom: 0
}
@media screen and (min-width:768px) {
  .reviews {
    padding-top: 60px;
    padding-bottom: 40px
  }
  .reviews__slider {
    padding: 0 24px
  }
  .reviews__slide {
    width: 640px;
    padding-bottom: 68px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
  }
  .reviews__img {
    width: 136px;
    min-width: 136px;
    height: 136px;
    margin-right: 24px
  }
  .reviews__person {
    max-width: 330px;
    margin-bottom: 15px
  }
}
@media screen and (min-width:1280px) {
  .reviews__title {
    font-size: 32px
  }
}
@media screen and (min-width:1440px) {
  .reviews {
    padding-top: 80px;
    padding-bottom: 48px
  }
  .reviews__header {
    margin-bottom: 40px
  }
  .reviews__title {
    font-size: 36px;
    line-height: 122%
  }
  .reviews__slider {
    padding: 0 32px;
    max-width: 1920px
  }
  .reviews__slide {
    padding-bottom: 52px
  }
  .reviews__img {
    width: 145px;
    min-width: 145px;
    height: 145px;
    margin-right: 16px
  }
}
@media screen and (min-width:1900px) {
  .reviews__slider {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto
  }
}
.contacts {
  padding: 46px 0 44px;
  background: #232630;
  color: #fff
}
.contacts__title {
  margin-bottom: 26px;
  color: #fff;
  font-size: 30px
}
.contacts__list {
  margin-bottom: 38px;
  padding-top: 24px;
  padding-bottom: 28px;
  border-top: 1px solid #444857;
  border-bottom: 1px solid #444857;
  position: relative
}
.contacts__list::after {
  padding: 16px;
  content: "Напишите нам";
  position: absolute;
  bottom: -26px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: rgba(255,255,255,.6);
  background: #232630
}
.contacts__item {
  margin-bottom: 16px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
.contacts__item:last-child {
  margin-bottom: 0
}
.contacts__photo {
  width: 64px;
  min-width: 64px;
  height: 64px;
  margin-right: 16px;
  border-radius: 50%;
  overflow: hidden
}
.contacts__photo img {
  width: 100%
}
.contacts__top {
  margin-bottom: 13px
}
.contacts__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  text-transform: uppercase;
  font-family: "Roboto Condensed",sans-serif
}
.contacts__pro {
  color: rgba(255,255,255,.6)
}
.contacts__btn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.contacts__btn svg {
  width: 18px;
  height: 18px;
  margin-right: 8px
}
.contacts__btn--skype svg {
  width: 18px;
  height: 16px
}
.contacts__feedback li {
  margin-bottom: 8px
}
.contacts__bottom {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}
.contacts__send {
  width: calc(100% - 32px);
  margin: 0 auto
}
@media screen and (min-width:768px) {
  .contacts {
    padding: 52px 0 62px
  }
  .contacts__title {
    margin-bottom: 44px
  }
  .contacts__list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0
  }
  .contacts__item {
    width: 50%;
    margin-bottom: 0;
    padding-top: 25px;
    padding-bottom: 53px
  }
  .contacts__item:nth-child(2n) {
    padding-left: 25px;
    border-left: 1px solid #444857
  }
  .contacts__top {
    margin-bottom: 10px
  }
  .contacts__info {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
  }
  .contacts__feedback {
    margin-top: auto
  }
  .contacts__feedback li:last-child {
    margin-bottom: 0
  }
  .contacts__bottom {
    padding-bottom: 22px;
    border-bottom: 1px solid #444857
  }
  .contacts__send {
    width: auto
  }
}
@media screen and (min-width:1280px) {
  .contacts__title {
    font-size: 32px
  }
}
@media screen and (min-width:1440px) {
  .contacts {
    padding: 90px 0 80px
  }
  .contacts__title {
    font-size: 36px;
    line-height: 122%
  }
  .contacts__list {
    width: calc(100% - 64px);
    max-width: 1856px;
    margin: 0 auto;
    border-left: 1px solid #444857;
    border-right: 1px solid #444857
  }
  .contacts__list::after {
    bottom: -32px
  }
  .contacts__item {
    padding-top: 32px;
    padding-bottom: 56px
  }
  .contacts__item:nth-child(2n) {
    padding-left: 30px
  }
  .contacts__photo {
    width: 112px;
    height: 112px;
    margin-right: 24px
  }
  .contacts__top {
    margin-bottom: 18px
  }
  .contacts__bottom {
    width: calc(100% - 64px);
    max-width: 1856px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 29px;
    border: 1px solid #444857;
    border-top: none
  }
}
.main {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-top: 40px
}
@media screen and (min-width:768px) {
  .main {
    padding-top: 80px
  }
}
.footer {
  padding-top: 44px;
  padding-bottom: 24px;
  overflow: hidden
}
.footer__top {
  width: 100%;
  max-width: 400px;
  margin-bottom: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px 0
}
.footer__contacts {
  font-weight: 700;
  font-family: "Roboto Condensed",sans-serif;
  color: #ff3214;
  text-transform: uppercase
}
.footer__contacts li {
  margin-bottom: 8px
}
.footer__contacts li:last-child {
  margin-bottom: 0
}
.footer__nav {
  grid-column-start: span 2;
  font-family: "Roboto Condensed",sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 167%;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 28px 0
}
.footer__nav-list li {
  margin-bottom: 8px
}
.footer__nav-list li:last-child {
  margin-bottom: 0
}
.footer__nav-list a {
  position: relative
}
.footer__nav-list a::after {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  left: auto;
  right: 0;
  height: 1px;
  background: #201d1d;
  transition: width .2s ease
}
.footer__nav-list a:focus::after,
.footer__nav-list a:hover::after {
  width: 100%;
  right: auto;
  left: 0
}
.footer__user {
  color: #969595
}
.footer__user li {
  margin-bottom: 8px
}
.footer__user li:last-child {
  margin-bottom: 0
}
.footer__user a {
  transition: color .2s ease
}
.footer__user a:focus,
.footer__user a:hover {
  color: #201d1d;
  text-decoration: underline
}
.footer__address {
  padding-top: 20px;
  grid-column-start: span 2;
  font-style: normal;
  font-size: 12px;
  line-height: 142%;
  color: #969595;
  position: relative
}
.footer__address::before {
  content: "";
  position: absolute;
  left: -16px;
  right: -16px;
  top: 0;
  height: 1px;
  background: #f3f3f3
}
.footer__bottom {
  font-size: 12px;
  line-height: 142%;
  color: #969595
}
.footer__docs {
  display: grid;
  grid-gap: 8px 0
}
.footer__docs a:focus,
.footer__docs a:hover {
  text-decoration: underline
}
@media screen and (min-width:768px) {
  .footer {
    padding-top: 58px
  }
  .footer__top {
    margin-bottom: 38px;
    max-width: 100%;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 50px 10px
  }
  .footer__logo {
    -webkit-order: -2;
    -ms-flex-order: -2;
    order: -2;
    width: 119px
  }
  .footer__logo img {
    width: 100%
  }
  .footer__nav {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-gap: 20px 0
  }
  .footer__user {
    grid-row-start: 2;
    grid-row-end: 2
  }
  .footer__address {
    padding-top: 15px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 4;
    font-size: 14px;
    line-height: 143%
  }
  .footer__address::before {
    display: none
  }
  .footer__contacts {
    font-size: 16px;
    line-height: 150%
  }
  .footer__user {
    font-size: 14px
  }
  .footer__user br {
    display: none
  }
  .footer__bottom {
    padding-top: 20px;
    font-size: 14px;
    position: relative
  }
  .footer__bottom::before {
    content: "";
    position: absolute;
    top: 0;
    left: -24px;
    right: -24px;
    height: 1px;
    background: #f3f3f3
  }
  .footer__docs {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
  }
}
@media screen and (min-width:1280px) {
  .footer__bottom {
    padding-left: 25%
  }
  .footer__nav {
    max-width: 500px
  }
}
@media screen and (min-width:1440px) {
  .footer {
    padding-top: 65px
  }
  .footer__logo {
    width: 169px
  }
  .footer__nav {
    max-width: 358px;
    padding-top: 12px;
    font-size: 14px;
    line-height: 170%;
    margin-left: 159px;
    grid-gap: 40px 0
  }
  .footer__contacts {
    padding-top: 8px;
    font-size: 20px;
    line-height: 140%
  }
  .footer__top {
    margin-bottom: 62px;
    grid-gap: 80px 23px
  }
  .footer__address {
    max-width: 255px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
  }
  .footer__bottom {
    padding-left: 37%
  }
  .footer__docs {
    padding-right: 14%
  }
}
@media screen and (min-width:1600px) {
  .footer {
    padding-top: 76px
  }
  .footer__nav {
    max-width: 480px;
    margin-left: 220px
  }
  .footer__docs {
    padding-right: 19%
  }
}
/*# sourceMappingURL=maps/main.css.map */
