.problem
   &__item
      padding-left: 32px
      padding-right: 1px
      position: relative
      &::before
         content: ''
         position: absolute
         left: 0
         top: 0
         width: 24px
         height: 24px
         background: url('../images/icons/problem.svg') no-repeat center / contain

.decision
   &__item
      padding-left: 30px
      padding-top: 1px
      position: relative
      &::before
         content: ''
         position: absolute
         left: -3px
         top: 0
         width: 24px
         height: 24px
         background: url('../images/icons/check.svg') no-repeat center / contain